<%- include("header.ejs") %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 m-auto">
      <h1 class="display-4 my-4">DocuSecure</h1>
      <p>One stop solution to save your Documents.</p>
      <h3>Download</h3>
      <hr />
      <form action="/download" method="POST">
        <div class="custom-file mb-3">
          <input
            type="text"
            name="downloadReq"
            id="downloadReq"
            class="form-control"
            placeholder="Enter full name of the file you want to download"
            required
          />
        </div>
        <input
          type="submit"
          value="Download"
          class="btn btn-primary btn-block"
        />
        <a class="btn btn-danger btn-block" href="/home" role="button">Back</a>
      </form>
    </div>
  </div>
</div>

<%- include("footer.ejs") %>
