<%- include("header.ejs") %>
    <style>
        Body {
            padding: 12px;
        }

        img {
            height: 100px;
            width: 100px;
        }

        h3 {
            margin: 0 5%;
        }

        #main {
            margin: 15% 15%;
            text-align: center;
        }
    </style>


    <div class="container text-center">
        <div class="row ">
            <div class="col-md-6 m-auto">
                <h1 class="display-4 my-4">DocuSecure</h1>
                <p>One stop solution to save your Documents.</p>
                <h1>Your Files</h1>
                <a class="btn btn-primary btn-block" href="/home" role="button">Home</a>
                <hr>
                <form action="/files" method="post">
                    <!-- CODE LOGIC FOR DISPLAYING FILES  -->
                    <% files.forEach((file)=>{ %>
                        <li style="text-align: left;">
                            <%= file.Key %>
                        </li><br>
                        <% }) %>
                            <input type="text" placeholder="Enter the filename you want to delete" name="filename"
                                required autocomplete="off" class="form-control signup-items" />
                            <br>
                            <button type="submit" class="btn btn-danger form-control signup-items">Delete</button>
                </form>

            </div>

        </div>
    </div>

    <%- include("footer.ejs") %>
        </body>