<style>
    .ftr-parent {
        background-color: #FAF9F7;
        padding: 15px 0 0;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .ftr-child {
        width: 50%;
        text-align: center;
    }

    .ftr-icons {
        font-size: 1.5rem;
        padding: 0 12px;
        cursor: pointer;
    }

    .ftr-icons:hover {
        color: #E5312D;
    }
</style>
<div class="ftr-parent">
    <!-- #FAF9F7 -->
    <div class="ftr-child">
        <p>© DocuSecure 2023 ® - One stop Solution to save your Documents</p>
    </div>
    <div class="ftr-child">
        <p><i class="fa-brands  ftr-icons fa-twitter"></i>
            <i class="fa-brands ftr-icons fa-instagram"></i>
            <i class="fa-brands ftr-icons fa-square-facebook"></i>
            <i class="fa-brands ftr-icons fa-youtube"></i>
            <i class="fa-brands ftr-icons fa-pinterest"></i>
        </p>
    </div>
</div>

</html>