<%- include("links-header.ejs") %>
  <style>
    .navbar li {
      list-style: none;
    }

    .navbar a,
    .contact-parent a {
      text-decoration: none;
      color: black;
    }

    .navbar {
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
      background-color: #fff;
      box-shadow: 0px 5px 5px grey;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
    }

    .nav-branding {
      font-size: 2rem;
    }

    .nav-link {
      transition: 0.6s ease;
      /* For delaying the effect*/
    }

    .nav-link:hover {
      color: #E5312D;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white;
    }

    @media (max-width: 900px) {
      /* NAVBAR */

      .hamburger {
        display: block;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) translateX(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
        transform: translateY(8px) translateX(-45deg);
      }

      .nav-menu {
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }

      .nav-item {
        margin: 16px 0;
      }

      .nav-menu.active {
        left: 0;
      }
    }
  </style>

  <body>

    <!-- NAVBAR -->

    <header>
      <nav class="navbar">
        <a href="/home" class="nav-branding">DocuSecure</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/upload" class="nav-link">Upload Files</a>
          </li>
          <li class="nav-item">
            <a href="/files" class="nav-link">View Files</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download Files</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">Logout</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>