<%- include("header.ejs") %>
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

<div class="container text-center">
    <div class="row">
       <div class="col-md-6 m-auto">
       <h1 class="display-4 my-4">DocuSecure</h1>
        <p>One stop solution to save your Documents.</p>
        <a class="btn btn-primary btn-block" href="/upload" role="button">Upload</a>
        <a class="btn btn-danger btn-block" href="/logout" role="button">Logout</a>
        <a class="btn btn-success btn-block" href="/authenticate" role="button">Download</a>
        <hr> 
      </div>
    </div>
  </div>

<%- include("footer.ejs") %>
</body>

