<%- include("header.ejs") %>
<style>
  img {
    height: 100px;
    width: 100px;
  }
  h3 {
    margin: 0 5%;
  }
  #main {
    margin: 15% 15%;
    text-align: center;
  }
</style>
<div id="main">
  <img
    src="https://png.pngtree.com/png-vector/20220621/ourmid/pngtree-secure-file-folder-protection-safe-png-image_5247546.png"
    alt="logo.img"
  />
  <h1>DocuSecure</h1>
  <p>One stop solution to save your Documents.</p>
  <hr />
  <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>
